Repository spooooony/Spoony-iOS, pull requests merged in 2025-02, with the labels that each got.

#177 Feat/#172 검색로직 수정
  Spoony-iOS/Spoony-iOS/Network/Model/ResturantpickListResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/SearchLocationResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/SearchResult.swift
  Spoony-iOS/Spoony-iOS/Network/Service/HomeService/HomeService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/HomeTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/Plain/BottomSheetItem.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/Plain/BottomSheetList.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/SearchResult/SearchLocationCardItem.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/SearchResult/SearchResultBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/Model/ViewType.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeViewModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ReviewStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Models/SearchResult.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SearchLocation/SearchLocation.swift
Labels: feat, Jihoon

#181 [Feat] #178-bottomsheet라이브러리로 구현
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Network/Model/ResturantpickListResponse.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/ Flexible/BottomSheetItem.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/ Flexible/FlexibleListBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheetStyle.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/CustomBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/Empty/EmptyStateBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/FixedBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/Plain/BottomSheetList.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/SearchResult/SearchLocationBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/SearchResult/SearchResultBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/PlaceHolderCardView/PageIndicator.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/PlaceHolderCardView/PlaceCard.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/PlaceHolderCardView/PlaceImagesLayout.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/PlaceHolderCardView/RoundedCorner.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/View+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SearchLocation/SearchLocation.swift
Labels: feat, Jihoon

#184 [Fix] #180 - 특정 이모지 입력 버그 수정
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextField.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/String+.swift
Labels: fix, Anyoung

#185 [Refactor] - #179 상세 화면 전면 수정
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS/Network/Base/SpoonyError.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/String+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Data/DataMapping/ReviewDetailResponseDTO.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Data/DataMapping/UserInfoResponseDTO.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Data/Repository/DetailRepository.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Data/Service/DetailService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailViewStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/Entity/ReviewDetailModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/RepositoryInterface/DetailRepositoryInterface.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/UseCase/DetailUseCase.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/DetailViewStore.swift
Labels: refactor, Th1ngjin
