Repository spooooony/Spoony-iOS, pull requests merged in 2025-01, with the labels that each got.

#14 Setting/#11 setting foldering
  SpoonMe/SpoonMe.xcodeproj/project.xcworkspace/xcuserdata/hoon.xcuserdatad/UserInterfaceState.xcuserstate
  SpoonMe/SpoonMe/Network/Service/Service.swift
  SpoonMe/SpoonMe/Network/TargetType/TargetType.swift
  SpoonMe/SpoonMe/Resource/Assets.xcassets/AccentColor.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Contents.json
  SpoonMe/SpoonMe/Resource/Extension/Color+.swift
  SpoonMe/SpoonMe/Resource/Extension/Date+.swift
  SpoonMe/SpoonMe/Resource/Extension/View+.swift
  SpoonMe/SpoonMe/Resource/Fonts/Font+.swift
  SpoonMe/SpoonMe/Resource/Helper/Constants.swift
  SpoonMe/SpoonMe/Resource/Helper/Utilities.swift
  SpoonMe/SpoonMe/Source/ContentView.swift
  SpoonMe/SpoonMe/Source/Feature/Detail/Detail.swift
  SpoonMe/SpoonMe/Source/Feature/Home/Home.swift
  SpoonMe/SpoonMe/Source/Feature/Quest/Quest.swift
  SpoonMe/SpoonMe/Source/Feature/Register/Register.swift
Labels: setting, Jihoon

#15 [Setting] #10 - Font, Color 그리고 프로젝트 기본 세팅 했습니다.
  SpoonMe/Info.plist
  SpoonMe/SpoonMe.xcodeproj/project.pbxproj
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/blue100.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/blue400.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/error400.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray0.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray100.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray200.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray300.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray400.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray500.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray600.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray700.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray800.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/gray900.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/green100.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/green400.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main0.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main100.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main200.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main300.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main400.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main500.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main600.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main700.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main800.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/main900.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/orange100.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/orange400.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/pink100.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/pink400.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/purple100.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/purple400.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Assets.xcassets/Color/spoonBlack.colorset/Contents.json
  SpoonMe/SpoonMe/Resource/Extension/SwiftUI+/Font+.swift
  SpoonMe/SpoonMe/Resource/Extension/UIKit+/UIFont+.swift
  SpoonMe/SpoonMe/Resource/Fonts/Font+.swift
  SpoonMe/SpoonMe/Resource/Fonts/Pretendard-Bold.otf
  SpoonMe/SpoonMe/Resource/Fonts/Pretendard-Medium.otf
  SpoonMe/SpoonMe/Resource/Fonts/Pretendard-SemiBold.otf
Labels: setting, thingjin

#19 Setting/#18 - 수출 규정 관련 문서 누락 제거
  .github/pull_request_template.md
  Spoony-iOS/Info.plist
Labels: setting, thingjin

#25 [Setting] 라이브러리 주입 및 폴더MVI로 수정
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/Detail.swift
Labels: setting, Jihoon

#29 Style/#23 - SpoonyButton 기능 구현
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_spoon_primary.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_spoon_primary.imageset/btn image.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_spoon_secondary.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_spoon_secondary.imageset/btn image.svg
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyButton.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/UIKit+/adjusted+.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/ToastModifier.swift
Labels: feat, style, thingjin

#36 Style/#28 탭뷰 구현
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_explore_gray400.imageset/gray400.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_map_gray400.imageset/gray400.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_map_main400.imageset/main400.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_register_gray400.imageset/gray400.svg
  Spoony-iOS/Spoony-iOS/Resource/Tab/Model/TabType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SpoonyTabView.swift
Labels: style, Anyoung

#33 [feat] 지도 뷰 구현
  .gitignore
  Spoony-iOS/.swiftlint.yml
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Resource/Helper/Constants.swift
  Spoony-iOS/Spoony-iOS/Source/ContentView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/MVI/HomeContract.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
Labels: feat, Jihoon

#30 [Setting] 바텀시트 컴포넌트 작업
  Spoony-iOS/Home/Components/BottomSheetButton.swift
  Spoony-iOS/Home/Components/BottomSheetList.swift
  Spoony-iOS/Home/Components/BottomSheetStyle.swift
  Spoony-iOS/Home/Components/CustomBottomSheet.swift
  Spoony-iOS/Home/HomeView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/BottomSheet/BottomSheetButton.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/BottomSheet/BottomSheetList.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/BottomSheet/BottomSheetStyle.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/BottomSheet/CustomBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony.key
Labels: style, Jihoon

#40 [Feat] #37 - 네이버 맵 검색 기능 구현 했습니다.
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/Detail.swift
Labels: feat, thingjin

#47 Style/#43 bottomsheet UI
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyButton.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/FilterBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/LocationPickerBottomSheet.swift
Labels: style, Juri

#48 [Style] #46- DetailView UI 구현
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_menu.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_menu.imageset/ic_menu.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/img_food.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/img_food.imageset/img_food.svg
  Spoony-iOS/Spoony-iOS/Resource/Extension/String+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/Detail.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SpoonyTabView.swift
Labels: style, thingjin

#44 [Style] 바텀시트 배치
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheetList.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheetStyle.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/CustomBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/NavigationBarStyle.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/View+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/BottomSheet/BottomSheetButton.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/BottomSheet/BottomSheetList.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/BottomSheet/BottomSheetStyle.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/BottomSheet/CustomBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/MVI/HomeContract.swift
Labels: style, Jihoon

#50 Style/#38 텍스트 필드 컴포넌트
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_minus_gray400.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_minus_gray400.imageset/gray400.svg
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextEditor.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextField.swift
Labels: style, Anyoung

#55 Style/#49 탐색 탭 UI
  Spoony-iOS/Spoony-iOS/Resource/Components/IconChip.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/FilterBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/LocationPickerBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SpoonyTabView.swift
Labels: feat, style, Juri

#62 [Fix] 텍스트 필드 로직 수정
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextEditor.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextField.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/View+.swift
Labels: fix, Anyoung

#52 [Style] 컴포넌트 부착
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/testImage1.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/testImage1.imageset/testImage.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/testImage2.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/testImage2.imageset/testImage2.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/testImage3.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/testImage3.imageset/testImage3.png
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/CardPlaceModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PageIndicator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCard.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCardsContainer.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceImagesLayout.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
Labels: style, Jihoon

#63 hotfix: #51 conflict 해결
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Register.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
Labels: Anyoung

#64 hotfix: #51 conflict goruf
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCardsContainer.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
Labels: Anyoung

#57 [Style] 네비게이션 로직 추가 및 칩 네비게이션 추가
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/ContentView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchView.swift
Labels: style, Jihoon

#59 [Style] 바텀시트 제스처 따라 수정
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheetList.swift
Labels: feat, Jihoon

#65 [Feat] #53 - DetailView 비공개, 공개 모드, 드롭다운 메뉴 구현 했습니다.
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Resource/Components/DropDownMenu.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/ToastModifier.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
Labels: feat, setting, thingjin

#73 Add/#71 lottie
  Spoony-iOS/Spoony-iOS/Resource/Helper/PopupModifier.swift
  Spoony-iOS/Spoony-iOS/Resource/Lottie/lottie_explore.json
  Spoony-iOS/Spoony-iOS/Resource/Lottie/lottie_popup_get.json
  Spoony-iOS/Spoony-iOS/Resource/Lottie/lottie_popup_use.json
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SpoonyTabView.swift
Labels: style, Juri

#67 Style/#56 신고하기 UI
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextEditor.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextField.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Report.swift
Labels: feat, style, Juri

#79 [Style] #51 등록 1단계 뷰 구현
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/CategoryChipsView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/ChipsContainerView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/PlaceInfoCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/CategoryChip.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/PlaceInfo.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/PlaceInfoType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
Labels: style, Anyoung

#82 [Feat] #76 - detail view
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/img_mock_godeung.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/img_mock_godeung.imageset/Frame 2085665165.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/img_mock_profile.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/img_mock_profile.imageset/mock_profile.svg
  Spoony-iOS/Spoony-iOS/Resource/Helper/ToastModifier.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
Labels: feat, Th1ngjin

#84 Style/#83 tool tip
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_scoopedup_white.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_scoopedup_white.imageset/white.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/image_polygon.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/image_polygon.imageset/Polygon 4.svg
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ToolTipView.swift
Labels: feat, style, Juri

#88 [Fix] #87 - iOS 18.0 이상에서 ScrollView 로직이 작동 안되는 문제를 해결 했습니다.
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_addmap_gray400.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_addmap_gray400.imageset/gray400.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_addmap_gray400.imageset/ic_addmap_gray400.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_addmap_main400.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_addmap_main400.imageset/ic_addmap_main400.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_addmap_main400.imageset/main400.svg
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
Labels: feat, fix, Th1ngjin

#86 Feat/#85 navigation popup
  Spoony-iOS/Spoony-iOS/Resource/Extension/View+.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/PopupModifier.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/ToastModifier.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/Model/ViewType.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/SpoonyApp.swift
Labels: refactor, Juri

#89 [Style] #80 등록 2단계 뷰 구현
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextEditor.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextField.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ReviewStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Report.swift
Labels: style, Anyoung

#91 [Feat]#78 navition link connect
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/FixedBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/Model/ViewType.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Search/SearchViewTest.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Search/Views/SearchResultRow.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Models/SearchResult.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchResultRow.swift
Labels: feat, Jihoon

#95 Feat/#92 navigation flow
  Spoony-iOS/Spoony-iOS/Resource/Extension/UIKit+/UINavigationController+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Report.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SpoonyTabView.swift
Labels: feat, Juri

#98 [Feat] #90 등록뷰 디테일 수정
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/PlaceInfo.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ReviewStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ToolTipView.swift
Labels: feat, Anyoung

#97 Feat/#93 마커 핀 포인트 분기처리 및 바텀시트 넣기
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_selected_marker.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_selected_marker.imageset/makerTest 1.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_selected_marker.imageset/makerTest 2.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_selected_marker.imageset/makerTest.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_unselected_marker.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_unselected_marker.imageset/makerTestPlain 1.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_unselected_marker.imageset/makerTestPlain 2.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_unselected_marker.imageset/makerTestPlain.svg
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
Labels: feat, Jihoon

#103 [Setting] #102 - providers 를 세팅 했습니다.
  Spoony-iOS/Spoony-iOS/Network/Base/Providers.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/DetailTargetType.swift
Labels: setting, Th1ngjin

#106 Feat/#105 네비게이션 이동로직 추가
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/FixedBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCardsContainer.swift
Labels: feat, Jihoon

#109 feat:userdefault 추가
  Spoony-iOS/Spoony-iOS/Network/Auth/UserManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchResultRow.swift
Labels: feat, Jihoon

#107 Feat/#100 EMpty뷰 및 컬러코드 작성
  Spoony-iOS/Spoony-iOS/Network/Service/HomeService/HomeService.swift
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/Image_GoTo_List.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/Image_GoTo_List.imageset/gotoList 1.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/Image_GoTo_List.imageset/gotoList 2.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/Image_GoTo_List.imageset/gotoList.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_empty_search.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_empty_search.imageset/image_empty_search.svg
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/FixedBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/Color+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/ResponseModel/ResturantpickListResponse.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchView.swift
Labels: Jihoon

#110 Feat/#101 탐색 - 사용자 피드 조회 API
  Spoony-iOS/Spoony-iOS/Network/Base/BaseResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/FeedResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ExploreService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/ExploreTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/FilterBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/LocationPickerBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreStore.swift
Labels: feat, refactor, Juri

#111 Refactor/#99 등록뷰 MVI 변경
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ReviewStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SpoonyTabView.swift
Labels: refactor, Anyoung

#112 [Setting] #104 - NetworkLoggerPluggin구현 했습니다.
  Spoony-iOS/Spoony-iOS/Network/Base/Providers.swift
  Spoony-iOS/Spoony-iOS/Network/Base/SpoonyLoggingPlugin.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/DetailTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/DetailModel.swift
Labels: feat, setting, Th1ngjin

#115 Feat/#114 떠먹은 listChip API 연결
  Spoony-iOS/Spoony-iOS/Network/Model/SpoonResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/HomeService/HomeError.swift
  Spoony-iOS/Spoony-iOS/Network/Service/HomeService/HomeService.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
Labels: feat, Jihoon

#124 Feat/#123 신고 API 연결
  Spoony-iOS/Spoony-iOS/Network/Model/ReportRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ReportService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/ExploreTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Report.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Store/ReportStore.swift
Labels: feat, Juri

#122 Feat/#113 category api
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreCategoryResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ExploreService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreStore.swift
Labels: feat, Juri

#127 Feat/#119 등록 지도 API 연결
  Spoony-iOS/Spoony-iOS/Network/Service/RegisterService/RegisterModel/RegisterCategoryResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/RegisterService/RegisterModel/SearchPlaceResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/RegisterService/RegisterModel/ValidatePlaceRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Service/RegisterService/RegisterModel/ValidatePlaceResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/RegisterService/RegisterService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/RegisterTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/CategoryChipsView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/ChipsContainerView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/PlaceInfoCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/CategoryChip.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/PlaceInfo.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
Labels: feat, Anyoung

#125 Feat/#120 지도 API 연결
  Spoony-iOS/Spoony-iOS/Network/Model/ResturantpickListResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/HomeService/HomeService.swift
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Color/pink400.colorset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Color/purple100.colorset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheetList.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/CustomBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeState/HomeState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeViewModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
Labels: feat, Jihoon

#126 [Feat] #121 - DetailView API 연결
  Spoony-iOS/Spoony-iOS/Network/TargetType/DetailTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/DetailModel.swift
Labels: feat, Th1ngjin

#129 [FIx] #128 - 모든 Font CustomModifer로 수정 했습니다.
  Spoony-iOS/Spoony-iOS/Network/Service/HomeService/HomeService.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheetList.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/CustomBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/FixedBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/DropDownMenu.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/IconChip.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/LogoChip.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyButton.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextEditor.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextField.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/View+.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/CustomFontModifier.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/PopupModifier.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/ToastModifier.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/LocationPickerBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCard.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCardsContainer.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/CategoryChipsView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/PlaceInfoCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ReviewStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ToolTipView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Report.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchResultRow.swift
  Spoony-iOS/Spoony-iOS/SpoonyApp.swift
Labels: setting, Th1ngjin

#136 fix: #133 팝업 뷰 버튼 색상 변경
  Spoony-iOS/Spoony-iOS/Resource/Helper/PopupModifier.swift
Labels: fix, Anyoung

#135 [Fix] #134 - detail QA 반영 했습니다.
  Spoony-iOS/Spoony-iOS/Resource/Helper/ToastModifier.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
Labels: fix, Th1ngjin

#138 Refactor/#131 design qa
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreCategoryResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/FeedResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ExploreService.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/IconChip.swift
  Spoony-iOS/Spoony-iOS/Resource/Lottie/lottie_empty_explore.json
  Spoony-iOS/Spoony-iOS/Resource/Lottie/lottie_explore.json
  Spoony-iOS/Spoony-iOS/Resource/Lottie/lottie_popup_get.json
  Spoony-iOS/Spoony-iOS/Resource/Lottie/lottie_popup_use.json
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCategoryChip.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/LocationPickerBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Model/ChipColorEntity.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Model/FeedEntity.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/CategoryChip.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Report.swift
Labels: fix, Juri

#142 Feat/#139 register api connect
  Spoony-iOS/Spoony-iOS/Network/Service/RegisterService/RegisterModel/RegisterPostRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Service/RegisterService/RegisterService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/RegisterTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
Labels: feat, Anyoung

#143 Feat/#140 Focus 상태 지도 뷰 업데이트
  Spoony-iOS/Spoony-iOS/Network/Model/CardPlaceModel.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MapFocusResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/HomeService/HomeService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCard.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCardsContainer.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceImagesLayout.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeViewModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
Labels: feat, Jihoon

#144 Fix/#132 디자인 1차 QA 반영
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/Image_GoTo_List.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/Image_GoTo_List.imageset/gotoList.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/Image_GoTo_List.imageset/image_empty_home.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/imagecontainerViewTriangle.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/imagecontainerViewTriangle.imageset/imagecontainerViewTriangle.svg
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheetList.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheetStyle.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/FixedBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchView.swift
Labels: feat, Jihoon

#148 [Fix] #137 RegisterView 버그 수정
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextField.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ReviewStepView.swift
Labels: fix, Anyoung

#150 Feat/#147 포서스 지도관련 로직 수정
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Network/Model/MapFocusResponse.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheetList.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCard.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeViewModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
Labels: feat, Jihoon

#152 [Refactor] #130 - DetailView MVI 전면 리팩토링 했습니다.
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/defaultImage.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/defaultImage.imageset/defaultImage.svg
  Spoony-iOS/Spoony-iOS/Resource/Helper/KFImage.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailViewStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/DetailModel.swift
Labels: refactor, Th1ngjin

#155 [Feat] #153 - 네비게이션 탐색 상세 연결 했습니다.
  Spoony-iOS/Spoony-iOS/Network/Model/CardPlaceModel.swift
  Spoony-iOS/Spoony-iOS/Network/Model/FeedResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MapFocusResponse.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/FixedBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/Model/ViewType.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailViewStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Model/FeedEntity.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCard.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeViewModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/DetailModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
Labels: feat, Th1ngjin

#154 Feat/#151 런치스크린 구현
  Spoony-iOS/Info.plist
  Spoony-iOS/Launch Screen.storyboard
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/SpoonBlack.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/spoonyLogo.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/spoonyLogo.imageset/Frame 2085665427.png
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
Labels: feat, Jihoon

#145 Refactor/#141 Explore MVI
  Spoony-iOS/Spoony-iOS/Network/Service/ExploreService.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/Model/ViewType.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/FilterBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/LocationPickerBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreStore.swift
Labels: refactor, Juri

#157 [Fix] #156 - 탐색 상세뷰 QA 진행 했습니다.
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_thingjin.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_thingjin.imageset/imageTH.png
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/FixedBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/NavigationBarStyle.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailViewStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCard.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/DetailModel.swift
Labels: fix, Th1ngjin

#162 Fix/#158 jihoon fix qa
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchView.swift
Labels: feat, Jihoon

#161 [ Feat] #149 - 키보드 활성화 여부에 따른 자동 스크롤 구현
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/ChipsContainerView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
Labels: feat, Anyoung

#160 chore: #159 문구 변경 반영
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Report.swift
Labels: chore, Juri

#164 Refactor/#163 search view refactor mvi
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Models/SearchResult.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchResultRow.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/searchIntent.swift
Labels: refactor, Jihoon

#167 Feat/#166 지도 관련 QA 반영
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceCard.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Components/PlaceHolderCardView/PlaceImagesLayout.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
Labels: feat, Jihoon

#170 [Feat] #169 - 상세 화면 QA 이미지, 서버 통신 실패시 수정 사항 반영
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailViewStore.swift
Labels: fix, Th1ngjin

#171 [Fix] #166 - 이모지 입력 수정
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextEditor.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextField.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
Labels: fix, Anyoung

#175 [Feat] #174 - 유저 프로필을 받아오는 API를 연결 했습니다.
  Spoony-iOS/Spoony-iOS/Network/TargetType/DetailTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/ToastModifier.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/DetailViewStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/DetailView/UserInfoModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/DetailModel.swift
Labels: feat, Th1ngjin
