Repository spooooony/Spoony-iOS, pull requests merged in 2025-04, with the labels that each got.

#208 Feat/#204 약관동의
  Spoony-iOS/Spoony-iOS/Network/Service/LoginService/LoginService.swift
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_checkboxempty_gray400.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_checkboxempty_gray400.imageset/gray400.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_checkboxfilled_main.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_checkboxfilled_main.imageset/main.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_apple_login.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_apple_login.imageset/login_btn_ios-1.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_apple_login.imageset/login_btn_ios.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_apple_login.imageset/login_btn_ios@2x.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_kakao_login.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_kakao_login.imageset/login_btn_ios-1.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_kakao_login.imageset/login_btn_ios.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_kakao_login.imageset/login_btn_ios@2x.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_login_bg.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/image_login_bg.imageset/ios_image_login_bg.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/spoony_english_logo.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/spoony_english_logo.imageset/Frame 2085665548.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/spoony_english_logo.imageset/Frame 2085665548@2x.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/spoony_english_logo.imageset/Frame 2085665548@3x.png
  Spoony-iOS/Spoony-iOS/Resource/Tab/Model/ViewType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Agree/AgreeFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Agree/AgreeType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Agree/AgreeView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Auth/AuthNavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Auth/AuthenticationCheckView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Auth/AuthenticationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/LoginFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/View/LoginView.swift
Labels: feat, Juri

#201 [Feat/#199] 지도 클릭해서 마커해제
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeViewModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
Labels: feat, Jihoon

#216 Refactor/#207 navigation tca
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_user_gray400.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_user_gray400.imageset/ic_user_gray400.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_user_main400.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_user_main400.imageset/ic_user_main400.svg
  Spoony-iOS/Spoony-iOS/Resource/Extension/View+.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/PopupModifier.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/Model/TabType.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/Model/ViewType.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/ContentView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Agree/AgreeFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Agree/AgreeView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Auth/AuthenticationCheckView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/AppCoordinator/AppCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/AppCoordinator/AppCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabCoordinator/TabCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabCoordinator/TabCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TestScenes/ExploreCoordinator/ExploreCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TestScenes/MyPageCoordinator/MyPageCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TestScenes/OnboardingScene/Onboarding.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/MapFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/LoginFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/View/LoginView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/InfoStepFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Store/ReportStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SpoonyTabView.swift
  Spoony-iOS/Spoony-iOS/SpoonyApp.swift
Labels: refactor, Anyoung

#222 [Style/#209] 온보딩UI
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_check_green.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_check_green.imageset/green.svg
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/NavigationBarStyle.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyDraw/SpoonDrawPopupView.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextEditor.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/String+.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/SwiftUI+/Font+.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/UIKit+/UIFont+.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/View+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Agree/AgreeFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/AppCoordinator/AppCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TestScenes/OnboardingScene/Onboarding.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/LoginFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/NicknameTextField.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/OnboardingFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/NicknameStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/OnboardingFinishView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/OnboardingView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/UserInfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/UserIntroduceView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ReviewStepView.swift
Labels: feat, style, Juri

#223 Style/#217 custom date picker
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/DatePicker/DatePickerBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/DatePicker/DatePickerManager.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/DatePicker/DateType.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/DatePicker/UIPickerCoordinator.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyDatePicker.swift
Labels: style, Anyoung

#229 [Style/#220] 마이페이지 기본 UI 구현
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_nav_top_primary_Two_None.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_nav_top_primary_Two_None.imageset/Group.svg
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/NavigationBarStyle.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/ToastModifier.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabCoordinator/TabCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TestScenes/MyPageCoordinator/MyPageCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/AttendanceView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Following/FollowerFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Following/FollowingFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Following/FollowingView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/MyPageView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Profile/ProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Profile/ProfileView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Review/Review.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Review/ReviewsFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/SettingFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/SettingsView.swift
Labels: style, Jihoon

#232 [Style/#224] SpoonySlider 컴포넌트 구현
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_slider.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_slider.imageset/Group.svg
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonySlider.swift
Labels: style, Anyoung

#233 [Style/#231] 출석체크뷰 구현
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_info_gray400.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_info_gray400.imageset/ic_info_gray400.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/spoonyAttendance.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/spoonyAttendance.imageset/spoonyAttendance 1.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/spoonyAttendance.imageset/spoonyAttendance 2.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/spoonyAttendance.imageset/spoonyAttendance.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/unselectedAttendance.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/unselectedAttendance.imageset/unselectedAttendance 1.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/unselectedAttendance.imageset/unselectedAttendance 2.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/unselectedAttendance.imageset/unselectedAttendance.png
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/NavigationBarStyle.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Mypage/MealTrackerView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Mypage/SpoonAttendanceView.swift
Labels: feat, Jihoon

#235 [Refactor/#225] 지역 선택 바텀 시트 변경 사항 적용
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/DatePicker/DateType.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyDatePicker.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyLocationPicker.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/LocationPickerBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/NicknameTextField.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/OnboardingFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/NicknameStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/UserInfoStepView.swift
Labels: refactor, Juri

#242 [Feat/#241] 바텀시트눌러서나오게
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_Close_white.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_Close_white.imageset/ic_Close_white.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/VSpoon.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/VSpoon.imageset/VSpoon 1.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/VSpoon.imageset/VSpoon 2.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/VSpoon.imageset/VSpoon.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/bg_bottom_grad.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/bg_bottom_grad.imageset/bg_bottom_grad 1.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/bg_bottom_grad.imageset/bg_bottom_grad 2.png
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Image/bg_bottom_grad.imageset/bg_bottom_grad.png
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Mypage/AttendanceInfoSheetView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Mypage/MealTrackerView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Mypage/StampCategoryRow.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/AttendanceFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/AttendanceView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/MyPageView.swift
Labels: feat, fix, Jihoon

#240 [Refactor/#239] 검색하기tca로리팩토링하기
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchFeature/SearchFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/EmptyStateView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/RecentSearchesView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchResultEmptyView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchResultRow.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchResultsView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/searchIntent.swift
Labels: feat, refactor, Jihoon, Juri

#243 Style/#236 edit profile view
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_close_white.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_close_white.imageset/white.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_lock.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_lock.imageset/material-symbols_lock-outline.svg
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_question_gray300.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_question_gray300.imageset/gray300.svg
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/ProfileImageBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextEditor.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileView.swift
Labels: style, Anyoung

#245 [Style/#228] 탐색 검색 UI
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Network/Auth/UserManager.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/LocationPickerBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/Navigation/CustomNavigationBar.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabCoordinator/TabCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabCoordinator/TabCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TestScenes/ExploreCoordinator/ExploreCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Enums/ExploreSearchState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Enums/ExploreSearchViewType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/FilterBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Model/FeedEntity.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Search/ExploreSearchFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Search/ExploreSearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/ExploreCategoryChip.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/FilterCell.swift
Labels: feat, style, Juri

#248 [Style] #221 - 팔로우 팔로잉 뷰 구현 했습니다.
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Resource/Components/FollowButton.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Following/FollowListView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Following/FollowResponseModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/MyPageView.swift
Labels: style, Th1ngjin

#250 [Style/#249] MyPage 뷰연결
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TestScenes/MyPageCoordinator/MyPageCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/MyPageView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/AccountManagement/AccountManagementFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/AccountManagement/AccountManagementView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/BlockedUsersFeature/BlockedUsersFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/BlockedUsersFeature/BlockedUsersView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/InquiryFeature/InquiryFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/InquiryFeature/InquiryView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/LocationFeature/LocationServicesFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/LocationFeature/LocationServicesView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/PrivacyPolicy/PrivacyPolicyFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/PrivacyPolicy/PrivacyPolicyView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/SettingFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/SettingsView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/TermsOfServiceFeature/TermsOfServiceFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/TermsOfServiceFeature/TermsOfServiceView.swift
Labels: feat, Jihoon

#253 Style/#244 register view 변경
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonySlider.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextEditor.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TestScenes/MyPageCoordinator/MyPageCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/MyPageView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Profile/ProfileView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Components/PlaceInfoCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/PlaceInfoType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/InfoStepFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/ReviewStepFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/InfoStepView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ReviewStepView.swift
Labels: style, Anyoung

#254 Feat/#251 출석체크만들기
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_close_white.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Mypage/MealTrackerView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Mypage/SpoonAttendanceView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/AttendanceFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/AttendanceInfoSheetView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/AttendanceView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/SpoonAttendanceView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/SpoonyTooltipView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/StampCategoryRow.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/MyPageView.swift
Labels: feat, Jihoon
