Repository spooooony/Spoony-iOS, pull requests merged in 2025-03, with the labels that each got.

#191 [Refactor] #189 이미지 캐싱로직 구현
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Network/Model/MapFocusResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/ResturantpickListResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/SearchResult.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ExploreService.swift
  Spoony-iOS/Spoony-iOS/Network/Service/HomeService/HomeService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/ExploreTargetType.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/HomeTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/ Flexible/BottomSheetItem.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/UseCase/DetailUseCase.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Cache/CachedImage.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Cache/CachedImageLoader.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Cache/ImageCacheManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeState/HomeState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeViewModel.swift
  Spoony-iOS/Spoony-iOS/SpoonyApp.swift
Labels: feat, refactor, Jihoon

#194 [Refactor] #193 actor도입과 메모리 누수 해결
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Cache/CachedImage.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Cache/CachedImageLoader.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Cache/ImageCacheManager.swift
Labels: feat, fix, refactor, Jihoon

#198 feat: #197 config파일 통합
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS/SpoonyApp.swift
Labels: feat, Jihoon

#200 Feat/#192 소셜로그인
  Spoony-iOS/Info.plist
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Network/Service/LoginService/LoginService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/LoginFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/View/LoginView.swift
  Spoony-iOS/Spoony-iOS/Spoony-iOS.entitlements
  Spoony-iOS/Spoony-iOS/Spoony-iOSRelease.entitlements
  Spoony-iOS/Spoony-iOS/SpoonyApp.swift
Labels: feat, Juri

#206 fix: icon 버튼 연속 액션 호출 수정
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyTextField.swift
Labels: fix, Anyoung
