Repository spooooony/Spoony-iOS, pull requests merged in 2025-05, with the labels that each got.

#269 [Feat/#261] 프로필 수정 API 연결
  Spoony-iOS/Spoony-iOS/Network/Base/Providers.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MyPageModel/EditProfileRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MyPageModel/ProfileImageResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MyPageModel/TargetUserRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MyPageModel/UserInfoResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MyPageModel/UserProfileResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/RegisterModel/RegisterCategoryResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/RegisterModel/RegisterPostRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/RegisterModel/SearchPlaceResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/RegisterModel/ValidatePlaceRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/RegisterModel/ValidatePlaceResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/MyPageService/MyPageService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/MyPageTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/ProfileImageBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Model/ProfileInfo.swift
Labels: feat, Anyoung

#263 [Feat/#262] 홈뷰 화면연결로직
  Spoony-iOS/Spoony-iOS/Resource/Components/PlaceHolderCardView/PlaceCard.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/MapFeature.swift
Labels: feat, Jihoon

#265 Feat/#264 검색하기 뷰 및 바텀시트 디테일 조정
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheets/BottomSheetListView.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheets/BottomSheetStyle.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/BottomSheets/FixedBottomSheetView.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/HomeViewModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/MapFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/NMapView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchFeature/SearchFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SearchLocation/SearchLocation.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/SearchLocation/SearchLocationFeature.swift
Labels: feat, Jihoon

#278 Chore/#277 dependency values파일분리
  Spoony-iOS/Spoony-iOS/Network/DependencyKey/DetailUseCaseKey.swift
  Spoony-iOS/Spoony-iOS/Network/DependencyKey/HomeServiceKey.swift
  Spoony-iOS/Spoony-iOS/Network/DependencyKey/LoginServiceKey.swift
  Spoony-iOS/Spoony-iOS/Network/DependencyKey/MyPageServiceKey.swift
  Spoony-iOS/Spoony-iOS/Network/DependencyKey/RegisterServiceKey.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/DependencyValues+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/MapFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/LoginFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterFeature.swift
Labels: chore, Anyoung

#274 [Feat/#247] 로그인 api
  Spoony-iOS/Spoony-iOS/Network/Auth/KeychainManager.swift
  Spoony-iOS/Spoony-iOS/Network/Base/HeaderType.swift
  Spoony-iOS/Spoony-iOS/Network/Base/Providers.swift
  Spoony-iOS/Spoony-iOS/Network/DependencyKey/LoginServiceKey.swift
  Spoony-iOS/Spoony-iOS/Network/Model/Auth/LoginResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/Auth/SignupRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/Auth/SignupResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/AuthService/APIAuthError.swift
  Spoony-iOS/Spoony-iOS/Network/Service/AuthService/AuthService.swift
  Spoony-iOS/Spoony-iOS/Network/Service/AuthService/SocialLoginService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/AuthTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/DependencyValues+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Auth/AuthNavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Auth/AuthenticationCheckView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/LoginFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/Entity/LoginUserEntity.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/Entity/RegionEntity.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/OnboardingFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/OnboardingFinishView.swift
Labels: feat, Juri

#280 [Feat/#279] 마이페이지로그인등연결
  Spoony-iOS/Spoony-iOS/Network/Model/FeedResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MyPageModel/UserInfoResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/MyPageService/MyPageService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/MyPageTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Search/ExploreSearchFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Profile/ProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Profile/ProfileView.swift
Labels: feat, Jihoon

#288 [Fix/#286] postView 서버 연결 안되는 문제 해결
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Data/DataMapping/ReviewDetailResponseDTO.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Data/DataMapping/UserInfoResponseDTO.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/Entity/ReviewDetailModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/UseCase/DetailUseCase.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/DetailView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/DetailViewStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/MockDetailViewStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostView.swift
Labels: fix, Th1ngjin

#291 [Fix/#289] 이미지 토큰 필요시 네트워크 통신 구현
  Spoony-iOS/Spoony-iOS/Network/Base/Providers.swift
  Spoony-iOS/Spoony-iOS/Network/DependencyKey/ImageLoadServiceKey.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ImageLoadService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/ImageLoadTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/DependencyValues+.swift
Labels: feat, Anyoung

#281 [Feat/#275] 탐색 메인 api
  Spoony-iOS/Spoony-iOS/Network/Model/CategoryListReponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreCategoryResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/FeedResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/RegionResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ExploreService.swift
  Spoony-iOS/Spoony-iOS/Network/Service/RegisterService/RegisterService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/ExploreTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Filtering/FilteringBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Model/FilterInfo.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Model/Region.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Search/ExploreSearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/ExploreCell.swift
Labels: feat, Juri

#294 [Feat/#283] 탐색 검색 api
  Spoony-iOS/Spoony-iOS/Network/Model/AuthModel/LoginResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/AuthModel/SignupRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/AuthModel/SignupResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreModel/ReviewSearchListResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreModel/UserSimpleResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ExploreService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/ExploreTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Model/SimpleUser.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Search/ExploreSearchFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Search/ExploreSearchView.swift
Labels: feat, Juri

#298 [Feat/#257] 탐색 검색 api 연결
  Spoony-iOS/Spoony-iOS/Network/Auth/UserManager.swift
  Spoony-iOS/Spoony-iOS/Network/Model/RegisterModel/EditPostRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/RegisterModel/RegisterPostRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/RegisterModel/ReviewResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/RegisterService/RegisterService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/RegisterTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabCoordinator/TabCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabCoordinator/TabCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TestScenes/MyPageCoordinator/MyPageCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/MyPageView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Profile/ProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Profile/ProfileView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/ReviewInfo.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/Model/UploadImage.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/InfoStepFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/RegisterFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/State/ReviewStepFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/Register.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Register/View/ReviewStepView.swift
Labels: feat, Anyoung

#299 [Feat/#282] 온보딩 마무리
  Spoony-iOS/Spoony-iOS/Network/Base/SpoonyError.swift
  Spoony-iOS/Spoony-iOS/Network/Model/AuthModel/LoginResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/AuthModel/SignupResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MyPageModel/UserProfileResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/AuthService/APIAuthError.swift
  Spoony-iOS/Spoony-iOS/Network/Service/AuthService/AuthService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/AuthTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/LocationPickerBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyLocationPicker.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Agree/AgreeFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Agree/AgreeView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Login/LoginFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Model/ProfileInfo.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/Entity/LoginUserEntity.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/NicknameTextField.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/OnboardingFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/OnboardingFinishView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/OnboardingView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/View/UserInfoStepView.swift
Labels: feat, Juri

#304 [Feat/#284] 탐색 필터링 api
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreModel/FeedFilteredRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreModel/FilteredFeedResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ExploreService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/ExploreTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/Date+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Enums/AgeType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Filtering/FilteringBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Filtering/SortBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Model/FilterInfo.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Search/ExploreSearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/ExploreCell.swift
Labels: feat, fix, Juri

#301 [Feat/#257] 프로필 수정 api 연결
  Spoony-iOS/Spoony-iOS/Network/Model/MyPageModel/ProfileImageResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/MyPageModel/UserProfileResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/MyPageService/MyPageService.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/BottomSheet/ProfileImageBottomSheet.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Edit/EditProfileView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Model/ProfileImage.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Model/ProfileInfo.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Onboarding/NicknameTextField.swift
Labels: feat, Anyoung

#308 [Feat/#300] 신고하기 api
  Spoony-iOS/Spoony-iOS/Network/DependencyKey/ReportServiceKey.swift
  Spoony-iOS/Spoony-iOS/Network/Model/ReportModel/PostReportRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/ReportModel/UserReportRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ReportService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/ExploreTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/DependencyValues+.swift
  Spoony-iOS/Spoony-iOS/Resource/Tab/NavigationManager.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Enums/PostReportType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Enums/ReportType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Enums/UserReportType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Report.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/ReportFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Store/ReportIntent.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Store/ReportState.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Store/ReportStore.swift
Labels: feat, refactor, Juri

#317 [Feat/#305] - 리뷰 상세 개발
  Spoony-iOS/Spoony-iOS/Network/TargetType/HomeTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_minus_spoon.imageset/Contents.json
  Spoony-iOS/Spoony-iOS/Resource/Assets.xcassets/Icon/ic_minus_spoon.imageset/btn image.svg
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyButton.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/String+.swift
  Spoony-iOS/Spoony-iOS/Resource/Helper/DateFormatterHelpers.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/Entity/ReviewDetailModel.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/UseCase/DetailUseCase.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/DetailViewStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/MockDetailUseCase.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostView.swift
Labels: feat, Th1ngjin

#318 [Fix/#306] 탐색 페이지네이션
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreModel/FilteredFeedRequest.swift
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreModel/FilteredFeedResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/ExploreModel/UserSimpleResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Model/FeedResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/ExploreService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/ExploreTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/ExploreFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Model/FeedEntity.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Search/ExploreSearchFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Search/ExploreSearchView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/Store/ExploreStore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/Explore.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Explore/View/ExploreCell.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/OtherProfile/OtherProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/OtherProfile/OtherProfileView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/Report.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Report/ReportFeature.swift
Labels: feat, Juri

#321 [Fix/#320] 고장난지도뷰고치기
  Spoony-iOS/Spoony-iOS/Network/Auth/UserManager.swift
  Spoony-iOS/Spoony-iOS/Network/Base/Providers.swift
  Spoony-iOS/Spoony-iOS/Network/DependencyKey/SpoonDrawServiceKey.swift
  Spoony-iOS/Spoony-iOS/Network/Model/SpoonDrawResponse.swift
  Spoony-iOS/Spoony-iOS/Network/Service/HomeService/HomeService.swift
  Spoony-iOS/Spoony-iOS/Network/Service/Service.swift
  Spoony-iOS/Spoony-iOS/Network/Service/SpoonDrawService.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/HomeTargetType.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/SpoonDrawTargetType.swift
  Spoony-iOS/Spoony-iOS/Resource/Components/SpoonyDraw/SpoonDrawPopupView.swift
  Spoony-iOS/Spoony-iOS/Resource/Extension/DependencyValues+.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/Home.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Home/MapFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/AttendanceFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/AttendanceView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Attendance/SpoonAttendanceView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/MyPageView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/MyPage/Setting/AccountManagement/withdraw/WithdrawFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/SearchFeature/SearchFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Search/Views/SearchView.swift
Labels: feat, setting, refactor, style, Jihoon

#324 [Fix/#323] 리뷰 상세 팔로잉 로직 수정
  Spoony-iOS/Spoony-iOS/Network/TargetType/DetailTargetType.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/FollowTargetType.swift
  Spoony-iOS/Spoony-iOS/Network/TargetType/HomeTargetType.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Data/Repository/DetailRepository.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Data/Service/DetailService.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/RepositoryInterface/DetailRepositoryInterface.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Domain/UseCase/DetailUseCase.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/MockDetailUseCase.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Detail/Presentation/PostView.swift
Labels: fix, Th1ngjin

#334 Refactor/#302 화면전환리펙
  Spoony-iOS/Spoony-iOS.xcodeproj/project.pbxproj
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/AppCoordinator/AppCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/AppCoordinator/AppCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/ExploreCoordinator/ExploreCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/ExploreCoordinator/ExploreCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MapCoordinator/MapCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MyPageCoordinator/MyPageCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/MyPageCoordinator/MyPageCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabCoordinator/TabCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabCoordinator/TabCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabRootCoordinator/TabRootCoordinator.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Coordinator/TabRootCoordinator/TabRootCoordinatorView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/Detail/Presentation/PostFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/Detail/Presentation/PostView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Profile/ProfileFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Profile/ProfileView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/AccountManagement/AccountManagementFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/AccountManagement/LogOut/LogoutFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/AccountManagement/LogOut/LogoutView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/InquiryFeature/InquiryFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/InquiryFeature/InquiryView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/LocationFeature/LocationServicesFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/LocationFeature/LocationServicesView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/PrivacyPolicy/PrivacyPolicyFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/PrivacyPolicy/PrivacyPolicyView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/TermsOfServiceFeature/TermsOfServiceFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/MyPage/Setting/TermsOfServiceFeature/TermsOfServiceView.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/Register/State/RegisterFeature.swift
  Spoony-iOS/Spoony-iOS/Source/Feature/Scene/Register/View/Register.swift
Labels: refactor, Anyoung
